.search{
  width: 100%;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  padding-bottom: 6px;
  min-width: 320px;
}

.searchBar{
  display : flex;
  align-items : center;
  margin: 0px;
  box-sizing: border-box;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
}

.searchIcon{
  font-size: 24px;
  color: black;
  padding-right: 6px;
}

.clearIcon{
  font-size: 24px;
  color: red;
}

.searchType{
  padding-right: 6px;
}

.searchType select{
  background-color: white;
  color: black;
  font-size: 12px;
}

.searchInput{
  flex: 1;
}

.searchInput input{
  background-color: white;
  color: black;
  font-size : 16px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.dropDown{
  color: black;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  width: 100%;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1;
  padding: 6px 12px;
}


hr{
  margin: 4px;
}