.container{
  width: 100%;
}

.legend{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: black;
  border: 0.5px solid black;
  color: white;
  font-size: 14px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.legendImageBreak{
  width: 48px;
  border-right: 0.5px solid black;
}

.legendAlign{
  min-width: 0px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.legendTrack{
  display: flex;
  padding-left: 6px;
  flex: 3;
  text-align: left;
  cursor: pointer;
}

.legendTime{
  display: flex;
  padding-left: 12px;
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.legendKey{
  display: flex;
  padding-left: 12px;
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.legendTempo{
  display: flex;
  padding-left: 12px;
  flex: 1;
  justify-content: flex-end;
  cursor: pointer;
}

.legendButtons{
  padding-left: 12px;
  padding-right: 12px;
  flex: 1;
}

.sortIcon{
  padding-right: 6px;
}

.track{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid black;
  border-bottom: none;
}

.trackEnd{
  composes: track;
  border-bottom: 0.5px solid black;
}

.image{
  width: 48px;
  height: 48px;
  background-color: grey;
  border-right: 0.5px solid black;
}

.duration{
  padding-left: 12px;
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.key{
  padding-left: 12px;
  flex: 1;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

.tempo{
  padding-left: 12px;
  flex: 1;
  text-align: right;
  cursor: pointer;
}

.buttons{
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
}

.content{
  min-width: 0px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels{
  padding-left: 6px;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-width: 0px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bpm{
  font-size: 18px;
  cursor: pointer;
}

.bpmWord{
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.name{
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist{
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
