.container{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.toolTitle{
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 6px;
  font-size: 20px;
}

.tools{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;
}

.signIn{
  padding-bottom: 6px;
}

.add{
  padding: 6px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
}

.filters{
  flex: 2;
}

.title{
  font-size: 24px;
}
